body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Color de fondo */
}

.container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    background-color: #ffffff; /* Fondo del contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

form {
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px;
}

.boton {
    margin-top: 10px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #42c1be; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color */
    font-size: 16px; /* Tamaño de fuente */
    margin-left: 10px; /* Espacio entre botones */
}

.boton:hover {
    background-color: #1f5ac7; /* Color de fondo del botón al pasar el mouse */
}

output {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Color de texto de la salida */
}

input[type="button"] {
    cursor: pointer;
}